

#header {
  height: 100px;
  font-weight: bold;
  font-size: 32px;
}

#wrapper-inner {
  display: flex;
}

#main-view {
  padding: 30px;
  width: 500px;
  max-width: 80%;
}

#nav {
  margin-left: 20px;
  width: 200px;
  border: 1px green dashed;
}

.nav-element {
  border: 2px blue solid;
  padding: 10px;
}