/*

ABOUT US PAGE

*/
.info-page-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #00695C;
  border-radius: 8px;
  background-color: #B2DFDB;
  width: 50%;
  justify-content: center;
  color: #00695C;
  padding: 8px 16px;
}