/*

CARD styling

*/
/*
.card {
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: hsl(177deg 41% 97%);
}

.elevated {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        1px 6px 10px 2px rgba(0, 0, 0, 0.15);
}*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 340px;
    background-color: #341001;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.card:before {
    content: "";
    width: 271px;
    height: 336px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background: #f1e9cd;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
}

.inner-card {
    width: 255px;
    height: 320px;
    background: #341001;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.inner-card:before {
    content: "";
    width: 249px;
    height: 314px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background: #f1e9cd;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
}