/*

CARD styling

*/

/*
OUTER CARD
*/
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 340px;
    background-color: #341001;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.card:before {
    content: "";
    width: 271px;
    height: 336px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background: #f1e9cd;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
}

/*
INNER CARD
*/

.inner-card {
    width: 255px;
    height: 320px;
    background: #341001;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.inner-card:before {
    content: "";
    width: 249px;
    height: 314px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background: #f1e9cd;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
}

/*
BIG CARD WRAPPERS
*/
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0.5em;
}

.card-content-wrp {
    position: relative;
    height: 314px;
    width: 249px;
    background: #f1e9cd;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    top: 3px;
    left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Added if item is "removed"*/
.disabled {
    opacity: 0.5;
}

/*
MAIN WRAPPER
Contains: Image and MoreInfo-button
*/
.product-main-wrp {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.main-btn-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    position: relative;
    z-index: 1;
}

.product-image-wrp {
    display: flex;
    height: 90%;
}

.product-image {
    background-image: url(../img/beer.png);
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*
INFORMATION WRAPPER
Contains: Title and price
*/

.product-desc-wrp {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30%;
    width: 80%;
}

.product-title {
    max-width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

/*
EXPANDED DESCRIPTION
Contains further information
*/
.product-text-wrp {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
}

.product-desc-expand {
    width: 95%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: absolute;
    top: 0.5em;
    left: 0.4em;
    background: #F1E9CD;
    flex-grow: 1;
}

.product-desc-expand > .title {
    margin-bottom: 8px;
}
.expanded-header-wrp {
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.desc-btn-wrp {
    margin-left: 0.2em;
}

.expanded-btn-wrp {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.stock-amount-input {
    width: 50px;
}