.content-container{
  height:80%;
  width:100%;
}
.container-form{
  margin:auto;
  background-color: #F1E9CD;
  border-style: solid;
  border-width:3px;
  border-color: #341001;
  width:40%;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.line-form{
  width:90%;
  height:90%;
  border:solid 2px #341001;
  background-color: #F1E9CD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  font-size:1.3rem;
  color:#341001;
  background-color: #F1E9CD;
  border:solid 1px #341001;
  width:98%;
  height:98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content{
  width:88%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#login{
  font-size:2.2rem;
  margin-bottom:1rem;
  width:70%;
  text-align:center;
}

.container-input{
  margin:1.3rem;
  width:80%;
}

.label{
  font-size:1.4rem;
}

.input-txt{
  border:none;
  border-bottom:solid 1px #341001;
  background-color:#F1E9CD;
  width:100%;
}

.txt-hide{
  visibility:hidden;
  font-size:1rem;
  color:#af3700;
}

#container-btn{
  margin-top:1.2rem;
  background-color:#341001;
  box-shadow: 0 4px 8px 0 rgba(46, 34, 2, 0.473), 0 4px 8px 0 rgba(46, 34, 2, 0.473); 
}

#login-btn{
  margin:0.2rem;
  font-family: 'Old Standard TT';
  color:#F1E9CD;
  width:min-content;
  background-color:#341001;
  padding: 0.3rem 0.7rem;
  font-size:1.3rem;
  border: #F1E9CD 1px solid;
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size:140%;
  }
}

@media screen and (min-width: 2400px) {
  html, body {
    font-size:180%;
  }
}