/*

GENERAL PAGE CSS

*/

/*
text-color/border: #341001
color-cards/icons/etc: #F1E9CD
font-family: Old Standard TT
*/

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Old Standard TT";
    height: 100%;
    min-height: 100%;
    background: url("../img/img_background.png") no-repeat fixed;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: "100%";
}

.page {
    width: 100%;
    height: 100%;
}
.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
