/*

MAIN/PRODUCT PAGE (Used by mainPage/content.js)

*/

/*
BIG WRAPPERS
*/
#product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}

.main-content-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}